{{- $driveURL := .Get "driveURL" | default "https://open.osa.moe/openauto" -}}
{{- $repoURL := .Get "repoURL" | default "https://github.com/HITSZ-OpenAuto/hoa-moe/" -}}

{{- $jsFileTree := resources.Get "js/filetree.js" -}}
{{- $jsFileCheck := resources.Get "js/file-check.js" -}}
{{- $jsFileDownload := resources.Get "js/file-download.js" -}}

<div class="hx-w-full hx-flex hx-flex-col hx-mt-4 not-prose">
    <div class="hx-flex hx-justify-start hx-items-center hx-gap-2 hx-mb-2">
        <button class="hx-flex hx-items-center hx-text-xs md:hx-text-sm hx-space-x-2 hx-bg-blue-50 hover:hx-bg-blue-100 hx-text-blue-600 hx-px-2 hx-py-1 hx-rounded-lg hx-transition dark:hx-bg-gray-800 dark:hover:hx-bg-gray-700 dark:hx-text-blue-400">
            <a href="{{ $driveURL }}" target="_blank" class="hx-flex hx-items-center hx-gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                     stroke-linecap="round" stroke-linejoin="round"
                     class="hx-size-3 md:hx-size-4">
                    <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"/>
                </svg>
                内网网盘
            </a>
        </button>
        <button class="hoa-filetree-download hx-flex hx-items-center hx-gap-1 hx-text-xs md:hx-text-sm hx-space-x-2 hx-bg-blue-50 hover:hx-bg-blue-100 hx-text-blue-600 hx-px-2 hx-py-1 hx-rounded-lg hx-transition dark:hx-bg-gray-800 dark:hover:hx-bg-gray-700 dark:hx-text-blue-400">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="hx-size-3 md:hx-size-4">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                <polyline points="7 10 12 15 17 10"/>
                <line x1="12" x2="12" y1="15" y2="3"/>
            </svg>
            批量下载
        </button>
        <div class="hx-flex-1"></div>
        <input type="checkbox" id="hoa-filetree-download-accelerate"
               class="hoa-filetree-download-accelerate hx-h-0 hx-w-0 hx-opacity-0">
        <label for="hoa-filetree-download-accelerate"
               class="select hx-flex hx-items-center hx-gap-1 hx-text-xs md:hx-text-sm hx-space-x-2 hx-bg-blue-50 hx-hover:hx-bg-blue-100 hx-text-gray-700 dark:hx-bg-gray-800 dark:hover:hx-bg-gray-700 dark:hx-text-gray-300 hx-px-2 hx-py-1 hx-rounded-lg hx-transition">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="hx-size-3 md:hx-size-4">
                <path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/>
            </svg>
            校园网加速
            <div class="hx-relative hx-w-10 hx-h-5">
                <div class="slider hx-absolute hx-left-0 hx-right-0 hx-top-0 hx-bottom-0 hx-rounded-full hx-p-0.5 hx-ml-1 hx-bg-gray-300 dark:hx-bg-gray-600 hx-transition-colors">
                    <div class="hx-w-4 hx-h-4 hx-rounded-full hx-bg-white hx-shadow-sm hx-transform hx-transition-transform"></div>
                </div>
            </div>
        </label>
    </div>
    <div class="hx-w-full hx-rounded-sm">
        {{ partial "hoa-filetree/header.html" . }}
        <ul class="hoa-filetree-container hx-w-full hx-my-0">
            {{- .Inner -}}
            <div class="hoa-filetree-contribute-hint hx-w-full hx-h-32 hx-mb-2 hx-border-dashed hx-border-2 dark:hx-border-[#262626] hx-border-t-0 hx-rounded-b-md hx-bg-[#f6f8fa]/[0.4] dark:hx-bg-[#090705]/[0.4] hx-flex hx-flex-col hx-items-center hx-justify-center">
                <div class="hx-text-lg md:hx-text-xl hx-font-bold hx-text-slate-700 dark:hx-text-slate-300">没有更多相关文件了呢 T^T</div>
                <div class="hx-text-xs md:hx-text-sm hx-mt-1 hx-text-slate-700 dark:hx-text-slate-300">想参与？来<a href="{{ $repoURL }}" class="hoa-inline-link hx-mx-0.5">课程仓库</a>提交 PR 吧！👉 <a href="https://hoa.moe/blog/contribution-guide/" class="hoa-inline-link hx-mx-0.5">查看《参与指南》</a></div>
            </div>
        </ul>
    </div>
</div>

{{- if hugo.IsProduction -}}
    {{- $jsFileTree = $jsFileTree | minify | fingerprint -}}
    {{- $jsFileCheck = $jsFileCheck | minify | fingerprint -}}
    {{- $jsFileDownload = $jsFileDownload | minify | fingerprint -}}
{{- end -}}
<script defer src="{{ $jsFileTree.RelPermalink }}" integrity="{{ $jsFileTree.Data.Integrity }}"></script>
<script defer src="{{ $jsFileCheck.RelPermalink }}" integrity="{{ $jsFileCheck.Data.Integrity }}"></script>
<script defer src="{{ $jsFileDownload.RelPermalink }}" integrity="{{ $jsFileDownload.Data.Integrity }}"></script>