<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="bcf8bba7-b822-404e-a193-5a53bd8d8e58"
  data-page-id="{{ .File.UniqueID }}"
  data-page-url="{{ .Permalink }}"
  data-page-title="{{ .Title }}"
  data-theme="auto"
></div>
<script defer src="https://cusdis.com/js/widget/lang/zh-cn.js"></script>
<script defer src="https://cusdis.com/js/cusdis.es.js"></script>

<script>
  function setCusdisTheme(theme) {
      let cusdis = document.querySelector('#cusdis_thread iframe');
      if (cusdis) {
          window.CUSDIS.setTheme(theme)
      }
  }

  window.addEventListener('onColorSchemeChange', (e) => {
      setCusdisTheme(e.detail)
  })
</script>


