{{/* Table of Contents */}}
{{/* TODO: toc bottom part should be able to hide */}}
{{- $toc := .Params.toc | default true -}}
{{- $onThisPage := (T "onThisPage") | default "On this page"}}
{{- $editThisPage := (T "editThisPage") | default "Edit this page"}}
{{- $backToTop := (T "backToTop") | default "Scroll to top" -}}

<aside class="hextra-toc flex flex-col print:hidden md:top-16 md:shrink-0 md:w-64 md:self-start max-md:[transform:translate3d(0,-100%,0)] md:sticky px-4 pt-4">
  {{- if $toc }}
  <div class="hextra-scrollbar overflow-y-auto overflow-x-hidden text-sm grow max-h-[calc(100vh-var(--navbar-height)-env(safe-area-inset-bottom))]">  
    {{- with .Fragments.Headings -}}
    <p style="text-align:center;" class="mt-2 mb-2 font-semibold tracking-tight">{{ $onThisPage }}</p>
    {{- range . -}}
      <ul class="flex flex-col gap-1 max-md:hidden">
        {{- with .Headings -}}{{ template "toc-subheading" (dict "headings" . "level" 0) }}{{- end -}}
      </ul>
    {{- end -}}
    {{- end -}} 
  </div>
  {{- $borderClass := "mt-8 border-t bg-white pt-8 shadow-[0_-12px_16px_white] dark:bg-dark dark:shadow-[0_-12px_16px_#111]" -}}
  {{- if not .Fragments.Headings -}}
    {{- $borderClass = "" -}}
  {{- end -}}
  {{/* TOC bottom part */}}
  <div class="justify-end sticky bottom-0 bg-white dark:bg-dark mx-4 py-4 shadow-[0_-12px_16px_#fff] flex items-center gap-2 dark:border-neutral-800 dark:shadow-[0_-12px_16px_#111] contrast-more:border-neutral-400 contrast-more:shadow-none contrast-more:dark:shadow-none border-t" data-toggle-animation="show">
    {{- if site.Params.editURL.enable -}}
    {{- $editURL := site.Params.editURL.base | default "" -}}
    {{- with .File -}}{{ $editURL = urls.JoinPath $editURL (replace .Path "\\" "/") }}{{- end -}}
    {{- with .Params.editURL -}}{{ $editURL = .Params.editURL }}{{- end -}}
    <a class="text-xs font-medium text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 contrast-more:text-gray-800 contrast-more:dark:text-gray-50" href="{{ $editURL }}" target="_blank" rel="noreferer">{{ $editThisPage }}</a>
  {{- end -}}
  {{/* Scroll To Top */}}
      <button aria-hidden="true" id="backToTop" onClick="scrollUp();" class="transition-all transition duration-75 opacity-0 text-xs font-medium text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100 contrast-more:text-gray-800 contrast-more:dark:text-gray-50">
        <span>
          {{- $backToTop -}}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline ml-1 h-3.5 w-3.5 border rounded-full border-gray-500 hover:border-gray-900 dark:border-gray-400 dark:hover:border-gray-100 contrast-more:border-gray-800 contrast-more:dark:border-gray-50">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
        </svg>
      </button>
  </div>
  {{ end -}}
</aside>

{{/* TOC subheadings component. This is a recursive component that renders a list of headings. */}}
  {{- define "toc-subheading" -}}
    {{- $headings := .headings -}}
    {{- $level := .level -}}
    {{- if ge $level 6 -}}
      {{ return }}
    {{- end -}}
  
    {{- $padding := (mul $level 4) -}}
    {{- $class := cond (eq $level 0) "font-semibold" (printf "ltr:pl-%d rtl:pr-%d" $padding $padding) -}}
  
    {{- range $headings }}
      {{- if .Title }}
       <ul class='flex flex-col gap-1'>
        <li class="flex flex-col">
          <a
          class="{{ $class }} flex items-center justify-between gap-1 cursor-pointer rounded px-2 py-1.5 text-sm transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
          text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 contrast-more:text-gray-900 contrast-more:underline contrast-more:dark:text-gray-50 w-full break-words"
          href="#{{ anchorize .ID }}"
        >
          <!-- <a class="{{ $class }} inline-block text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 contrast-more:text-gray-900 contrast-more:underline contrast-more:dark:text-gray-50 w-full break-words" href="#{{ anchorize .ID }}"> -->
            {{- .Title | safeHTML | plainify | htmlUnescape }}
          </a>
        </li>
      </ul>
        {{- end -}}
      {{- with .Headings -}}
        {{ template "toc-subheading" (dict "headings" . "level" (add $level 1)) }}
      {{- end -}}
  
    {{- end -}}
  {{- end -}}
