img {
    display: inline-block;
    vertical-align: middle;
}

.content :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.375rem;
}