@import "tailwind.css";

:root {
  --background-color: #dbe6ef;
  --text-color: rgba(107, 114, 128, 1);
  --text-hover-color: rgba(20, 20, 20, 1);
  --animate-color: hsl(212deg 100% 94%);
  --animate-hover-color: hsl(212deg 100% 80%);
  --hoa-filetree-checked-color: rgb(243 244 246 / var(--tw-text-opacity, 1));
}

.dark {
  --background-color: rgb(40, 40, 40);
  --text-hover-color: rgba(250, 250, 250, 1);
  --text-color: rgba(107, 114, 128, 1);
  --animate-color: rgba(0, 138, 230, 72%);
  --animate-hover-color: rgba(0, 138, 230, 100%);
  --hoa-filetree-checked-color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

img {
  display: inline-block;
  vertical-align: middle;
}

.content :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 0.375rem;
}

.content :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  --tw-text-opacity: 1;
  color: hsl(
    var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity)
  );
  /* color: #0b346e; */
  text-decoration-line: solid;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  text-underline-offset: 2px;
  text-decoration-color: var(--background-color);

  &:hover {
    text-decoration-color: hsl(
      var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity)
    );
  }
}

a.hoa-inline-link {
  --tw-text-opacity: 1;
  color: hsl(
    var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity)
  );
  /* color: #0b346e; */
  text-decoration-line: solid;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  text-underline-offset: 2px;
  text-decoration-color: var(--background-color);

  &:hover {
    text-decoration-color: hsl(
      var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity)
    );
  }
}

a.animated {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
}

a.animated::after {
  content: '';
  width: 0%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: var(--animate-color);
  transition: width 200ms ease-in-out;
}

a.animated:hover::after {
  width: 100%;
}

a.animated-active::after {
  width: 100%;
  background-color: var(--animate-hover-color);
}

a.hextra-feature-card {
  box-shadow: 2px 4px 12px #00000014;
}

a.hextra-feature-card:hover {
  transition: transform 300ms;
  transform:scale3d(1.01, 1.01, 1.01);
  box-shadow: 2px 4px 16px #00000029;
}

.grid-col-span-2 {
  grid-column-start: span 2;
}

.img-div > p {
  margin-top: 4px;
}

.img-div > p > img {
  margin-left: 2px;
  margin-right: 2px;
}

.header-icon {
  filter: opacity(50%);
  transition: filter 300ms;
}

.header-icon:hover {
  filter: none;
}

.hoa-filetree-file:has(input:checked) {
  background-color: var(--hoa-filetree-checked-color);
}

.hoa-filetree-folder:has(input:checked) {
  background-color: var(--hoa-filetree-checked-color);
}

.hoa-filetree-download-progress {
  /*-webkit-mask: radial-gradient(circle at center, transparent 0.600rem, #000 0.601rem);*/
  mask: radial-gradient(circle at center, transparent 0.500rem, #000 0.501rem);
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  max-width: 50px;
  max-height: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

:where(table):not(:where(.hextra-code-block table, [class~=not-prose],[class~=not-prose] *)) {
  display: block;
  max-height: 560px;
  overflow: scroll;
  margin-top: 1.5rem;
  padding: 0;
 
  &:first-child {
    margin-top: 0;
  }
 
  tr {
    margin: 0;
    border-top: 1px solid #d1d5db;
    padding: 0;
    max-height: 64px;
    text-wrap: balance;
 
    &:nth-child(even) {
      background-color: rgb(243 244 246);
    }
 
    @media (prefers-color-scheme: dark) {
      border-color: #4b5563;
 
      &:nth-child(even) {
        background-color: rgba(75, 85, 99, 0.2);
      }
    }
 
    @media (max-width: 640px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
 
  th {
    margin: 0;
    border: 1px solid #d1d5db;
    padding: 0.5rem 1rem;
    font-weight: 600;
    max-height: 64px;
    min-width: 64px;
    text-wrap: balance;
    overflow: hidden;
 
    @media (prefers-color-scheme: dark) {
      border-color: #4b5563;
    }
 
    @media (max-width: 640px) {
      padding: 0.375rem 0.75rem;
      font-size: 0.875rem;
    }
  }
 
  td {
    margin: 0;
    border: 1px solid #d1d5db;
    padding: 0.5rem 1rem;
    max-height: 64px;
    min-width: 96px;
    text-wrap: balance;
    overflow: hidden;
 
    @media (prefers-color-scheme: dark) {
      border-color: #4b5563;
    }
 
    @media (max-width: 640px) {
      padding: 0.375rem 0.75rem;
      font-size: 0.875rem;
    }
  }
 }