:root {
  --hoa-filetree-checked-color: rgb(239 246 255);
}

.dark {
  --hoa-filetree-checked-color: rgb(30 58 138 / 0.3);
}

.content :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: hsl(var(--primary-hue) var(--primary-saturation) 45%);
  /* color: #0b346e; */
  text-decoration-line: solid;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  text-underline-offset: 2px;
  text-decoration-color: var(--background-color);

  &:hover {
    text-decoration-color: hsl(var(--primary-hue) var(--primary-saturation) 45%);
  }
}

a.hoa-inline-link {
  color: hsl(var(--primary-hue) var(--primary-saturation) 45%);
  /* color: #0b346e; */
  text-decoration-line: solid;
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
  text-underline-offset: 2px;
  text-decoration-color: var(--background-color);

  &:hover {
    text-decoration-color: hsl(var(--primary-hue) var(--primary-saturation) 45%);
  }
}

a.animated {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  display: inline-block;
}

a.animated::after {
  content: "";
  width: 0%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: var(--animate-color);
  transition: width 200ms ease-in-out;
}

a.animated:hover::after {
  width: 100%;
}

a.animated-active::after {
  width: 100%;
  background-color: var(--animate-hover-color);
}

a.hextra-feature-card {
  box-shadow: 2px 4px 12px #00000014;
}

a.hextra-feature-card:hover {
  transition: transform 300ms;
  transform: scale3d(1.01, 1.01, 1.01);
  box-shadow: 2px 4px 16px #00000029;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.hoa-filetree-file:has(input:checked) {
  background-color: var(--hoa-filetree-checked-color);
}

.hoa-filetree-folder:has(input:checked) {
  background-color: var(--hoa-filetree-checked-color);
}

.hoa-filetree-download-progress {
  /*-webkit-mask: radial-gradient(circle at center, transparent 0.600rem, #000 0.601rem);*/
  mask: radial-gradient(circle at center, transparent 0.5rem, #000 0.501rem);
}

/* The slider */
input:checked + .select {
  /* bg-blue-50 */
  background-color: rgb(239 246 255);
  /* text-blue-600 */
  color: rgb(37 99 235);
}

input:checked + .select:is(html[class~="dark"] *) {
  /* dark:bg-blue-900 */
  background-color: rgb(30 58 138 / 0.3);
  /* text-blue-300 */
  color: rgb(147 197 253);
}

input:checked + .select:hover {
  /* hover:bg-blue-100 */
  background-color: rgb(219 234 254);
}

input:checked + .select:hover:is(html[class~="dark"] *) {
  /* dark:hover:bg-blue-100 */
  background-color: rgb(30 64 175);
}

input:checked + .select .slider {
  /* bg-blue-500 */
  background-color: rgb(59 130 246);
}

input:focus + .select .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .select .slider > div {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  max-width: 50px;
  max-height: 50px;
}

.hoa-badge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 6px 0;
  margin: 14px 0 18px;
  width: 100%;
}

.hoa-badge > p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100%;
}

.hoa-badge img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  margin: 0;
}
