.content {
  :where(table):not(:where(.hextra-code-block table, [class~=not-prose],[class~=not-prose] *)) {
    @apply hx:block hx:overflow-x-auto hx:my-6 hx:first:mt-0 hx:w-full hx:text-sm hx:leading-5 hx:border-collapse;

    thead {
      @apply hx:text-gray-900 hx:bg-gray-50 hx:dark:text-gray-200 hx:dark:bg-gray-700;
    }
    tbody tr {
      @apply hx:bg-white hx:dark:text-gray-400 hx:dark:bg-gray-800;
    }
    th {
      @apply hx:p-2 hx:font-semibold hx:border hx:border-gray-300 hx:text-left hx:dark:border-gray-600;
      min-width: 64px;
    }
    td {
      @apply hx:p-2 hx:border hx:border-gray-300 hx:dark:border-gray-700;
      min-width: 64px;
    }
    td:first-child {
      @apply hx:pl-2;
    }
    th:first-child {
      @apply hx:pl-2;
    }
  }
}
