<div class="hoa-filetree-header hx-w-full hx-h-8 hx-border dark:hx-border-[#262626] hx-rounded-md hx-py-1 hx-flex hx-items-center hx-justify-between hx-relative hx-text-xs hx-font-bold hx-text-slate-600 dark:hx-text-slate-400 hx-bg-[#f6f8fa] dark:hx-bg-[#090705] not-prose">
    <label class="hx-flex hx-ml-4 hx-w-1/3">
        <input type="checkbox" class="hx-mr-2">
        <div>文件名</div>
    </label>
    <div class="hx-mx-2 hx-w-1/5 hx-hidden md:hx-block">文件大小</div>
    <div class="hx-mx-4 hx-w-1/5">
        <div class="hx-mr-6 hx-text-nowrap hx-hidden md:hx-block">最后修改日期</div>
    </div>
</div>