<div
  class="hoa-filetree-header not-prose hx:relative hx:flex hx:h-8 hx:w-full hx:items-center hx:justify-between hx:rounded-t-lg hx:border hx:border-gray-200 hx:bg-[#f6f8fa] hx:py-1 hx:text-xs hx:font-bold hx:text-slate-600 hx:dark:border-gray-600 hx:dark:bg-[#090705] hx:dark:text-slate-400"
>
  <label class="hx:ml-4 hx:flex hx:w-1/3">
    <input type="checkbox" class="hx:mr-2" />
    <div>文件名</div>
  </label>
  <div class="hx:mx-2 hx:hidden hx:w-1/5 hx:md:block">文件大小</div>
  <div class="hx:mx-4 hx:w-1/5">
    <div class="hx:mr-6 hx:hidden hx:text-nowrap hx:md:block">最后修改日期</div>
  </div>
</div>
