{{- $class := .Get "class" -}}
{{- $cols := .Get "cols" | default 3 -}}
{{- $style := .Get "style" | default "" -}}
{{- $image := .Get "image" -}}
{{- $subtitle := .Get "subtitle" -}}
{{- $button_link := .Get "button_link" -}}
{{- $button_text := .Get "button_text" -}}

{{- $css := printf "--hextra-feature-grid-cols: %v; %s" $cols $style -}}
{{- $external := hasPrefix $button_link "http" -}}
{{- $href := cond (hasPrefix $button_link "/") ($button_link | relURL) $button_link -}}
{{- if hasPrefix $image "/" -}}
  {{- $image = relURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}


<div
  class="hextra-feature-grid not-prose hx:grid hx:w-full hx:gap-4 hx:max-sm:grid-cols-1 hx:sm:max-lg:grid-cols-2"
  {{ with $css }}style="{{ . | safeCSS }}"{{ end }}
>
  <div class="grid-col-span-2 hx:py-1">
    <div class="hx:mt-6 hx:mb-6">
      <h1
        class="not-prose hx:bg-gradient-to-r hx:from-gray-900 hx:to-gray-600 hx:bg-clip-text hx:py-1 hx:text-4xl hx:leading-none hx:font-bold hx:tracking-tighter hx:text-transparent hx:md:text-5xl hx:dark:from-gray-100 hx:dark:to-gray-400"
        {{ with $style }}style="{{ . | safeCSS }}"{{ end }}
      >
        {{ .Inner | markdownify }}
      </h1>
      <br />
    </div>

    <div class="hx:mb-6">
      <p
        class="not-prose hx:text-xl hx:text-gray-600 hx:sm:text-xl hx:dark:text-gray-400"
        {{ with $style }}style="{{ . | safeCSS }}"{{ end }}
      >
        {{ $subtitle | markdownify }}
      </p>
      <br />
    </div>

    <div class="hx:mb-6">
      <a
        href="{{ $href }}"
        class="not-prose hx:inline-block hx:cursor-pointer hx:rounded-full hx:bg-primary-600 hx:px-6 hx:py-3 hx:text-center hx:font-medium hx:text-white hx:transition-all hx:duration-200 hx:ease-in hx:hover:bg-primary-700 hx:focus:ring-4 hx:focus:ring-primary-300 hx:focus:outline-hidden hx:dark:bg-primary-600 hx:dark:hover:bg-primary-700 hx:dark:focus:ring-primary-800"
        {{ with $style }}style="{{ . | safeCSS }}"{{ end }}
        {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}
      >
        {{- $button_text -}}
      </a>
    </div>
  </div>
  {{ if $image }}
    <div class="hx:py-3 hx:md:float-right hx:md:block"><img src="{{ $image }}" width="400" alt="Logo" /><br /></div>
  {{- end -}}
</div>
