{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <div class="hx-w-full hx-break-words hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-pb-8 hx-pt-8 md:hx-pt-12 hx-pl-[max(env(safe-area-inset-left),1.5rem)] hx-pr-[max(env(safe-area-inset-left),1.5rem)]">
      <div class="hx-flex hx-flex-col hx-items-start">
        {{ .Content }}
      </div>
      <a href="/news/1st-anniversary/">
      <div style="background: radial-gradient(ellipse at 50% 80%,rgba(255,178,111,0.15),hsla(0,0%,100%,0));" class="hx-mt-4 hextra-feature-card hx-rounded-3xl hx-border hx-border-gray-200 hover:hx-border-gray-300 dark:hx-border-neutral-800 dark:hover:hx-border-neutral-700">
        <div class="hx-flex hx-w-full hx-items-start hx-justify-center hx-mb-4 hx-mt-4 hx-overflow-auto hx-snap-mandatory hx-snap-x ">
            <div class="hx-flex hx-justify-between hx-flex-nowrap hx-items-stretch">
            <img src="images/anniversary/hitsz.png" width="200" />
            <img src="images/anniversary/open.png" width="200" />
            <img src="images/anniversary/auto.png" width="200" />
            <img src="images/anniversary/shengri.png" width="200" />
            <img src="images/anniversary/kuaile.png" width="200" />
            </div>
        </div>
        <div class="hx-text-gray-500 dark:hx-text-gray-400 hx-text-sm hx-leading-6 hx-text-center hx-mt-4 hx-mb-2">HITSZ OpenAuto 一岁啦！来博客看看维护者们有什么想说的吧👉</div>
      </div>
      </a>
  </div>
  </div>
{{ end }}
