name: "Build Single Course Page"

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: "Name of the repository"
        required: true
        default: "NOT_ASSIGNED"

# concurrency:
#   group: ${{ github.workflow }}
#   cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write

    env:
      PYTHONPATH: /home/runner/work/my-hoa-moe/my-hoa-moe

    steps:
      - name: Get parameters
        id: extract
        run: |
          REPO="${{ github.event.inputs.repo_name }}"
          if [ -z "$REPO" ]; then
            REPO="NOT_ASSIGNED"
          fi
          echo "repo_name=$REPO" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          # token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Set execute permissions
        run: find . \( -name "*.sh" -o -name "*.py" \) -exec chmod +x {} \;

      - name: First check
        env:
          REPO_NAME: ${{ env.repo_name }}
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: ./scripts/workflows/check_before_build_single_course_page.sh

      - name: Set execute permissions
        run: find . \( -name "*.sh" -o -name "*.py" \) -exec chmod +x {} \;

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Build single course page
        env:
          REPO_NAME: ${{ env.repo_name }}
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: ./scripts/workflows/build_single_course_page.sh

      - name: Generate daily report
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          ORG_NAME: HITSZ-OpenAuto
          NEWS_TYPE: daily
        run: python scripts/news/gen_news.py

      - name: Fetch opened PRs and issues
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: python scripts/courses/fetch_opened_prs_and_issues.py

      - name: Auto correct
        uses: huacnlee/autocorrect-action@v2
        with:
          args: --fix content/

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "content"
          pull: "--rebase --autostash"
          default_author: github_actions
          message: "ci: update course pages"
