name: "Build Documentation"

permissions:
  contents: write

on:
  pull_request:
  push:
    paths:
      - "scripts/**"
      - ".github/workflows/course.yaml"
  schedule:
    - cron: "0 0 * * *" # Set the workflow to run at 00:00 UTC+0 every day (8 AM Beijing time)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-documentation:
    runs-on: ubuntu-latest
    env:
      ORG_NAME: "HITSZ-OpenAuto"

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv and restore cache
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          activate-environment: true
          working-directory: scripts
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install Python dependencies
        run: uv sync --directory scripts/

      - name: Fetch public repositories in the organization
        run: curl -o repos_list.txt https://raw.githubusercontent.com/HITSZ-OpenAuto/repos-management/refs/heads/main/repos_list.txt

      - name: Parse repo list and set as env var
        run: |
          repos=$(jq -R -s -c 'split("\n") | map(select(length > 0))' repos_list.txt)
          echo "repos_array=$repos" >> $GITHUB_ENV

      - name: Generate card.txt for each repo
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: uv run scripts/courses/gen_links.py

      - name: Bulid directory pages
        run: ./scripts/workflows/build_directory_pages.sh

      - name: Clean existing course pages
        run: |
          find content/docs/*/[A-Z]*.md -type f -delete 2>/dev/null || true
          echo "Cleaned existing course pages"

      - name: Build course pages
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: uv run scripts/courses/build_course_pages.py

      - name: Build semester pages
        run: ./scripts/workflows/build_semester_pages.sh

      - name: Wrap badges
        run: |
          for file in $(find content/docs -name "*.md"); do
            uv run scripts/courses/wrap_badges.py "$file"
          done

      - name: Install oven-sh/setup-bun@v2
        uses: oven-sh/setup-bun@v2

      - name: Autocorrect Docs
        run: bunx autocorrect-node --fix content/

      - name: Run Prettier
        run: bunx prettier --write content/

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add content/
          git commit -m "docs: update course pages" || exit 0
          git clean -f
          git pull --rebase
          git push origin HEAD
