name: "Build Documentation"

on:
  push:
    paths:
      - "scripts/**"
      - ".github/workflows/course.yaml"
      - "!scripts/filetrees/filetrees.json"
  schedule:
    - cron: "0 0 * * *" # Set the workflow to run at 00:00 UTC+0 every day (8 AM Beijing time)
  workflow_dispatch:
    inputs:
      repo_name:
        description: "Name of the repository"
        required: true
        default: "NOT_ASSIGNED"

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-documentation:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write

    env:
      PYTHONPATH: /home/runner/work/hoa-moe/hoa-moe

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          submodules: recursive
          fetch-depth: 0

      - name: Set execute permissions
        run: find ./scripts \( -name "*.sh" -o -name "*.py" \) -exec chmod +x {} \;

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt

      - name: Fetch public repositories in the organization
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./scripts/workflows/fetch_repos.sh

      - name: Parse the repo names and save as env vars
        id: parse_repos
        run: |
          repos=$(jq -r '.[].name' repos.json | jq -R -s -c 'split("\n")[:-1]')
          echo "repos_array=$repos" >> $GITHUB_ENV

      - name: Generate card.txt for each repo
        run: python scripts/courses/gen_links.py "HITSZ-OpenAuto" ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Bulid directory pages
        run: ./scripts/workflows/build_directory_pages.sh

      - name: Build course pages
        run: python scripts/courses/build_course_pages.py "HITSZ-OpenAuto" ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Build semester pages
        run: ./scripts/workflows/build_semester_pages.sh

      - name: Generate daily report
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          ORG_NAME: HITSZ-OpenAuto
          NEWS_TYPE: daily
        run: python scripts/news/gen_news.py

      - name: Fetch opened PRs and issues
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: python scripts/courses/fetch_opened_prs_and_issues.py

      - name: Wrap badges
        run: |
          for file in $(find content/docs -name "*.md"); do
            python scripts/courses/wrap_badges.py "$file"
          done

      - name: Auto correct
        uses: huacnlee/autocorrect-action@v2
        with:
          args: --fix content/

      - name: Auto format
        uses: astral-sh/ruff-action@v3
        with:
          src: "./scripts"
          version: "0.9.1"
          args: "format"

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '["content", "scripts"]'
          pull: "--rebase --autostash"
          default_author: github_actions
          message: "ci: update course pages"
