name: "Generate Daily Report"

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_run:
    workflows: ["Build Documentation"]
    types:
      - completed
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  daily-report:
    runs-on: ubuntu-latest
    env:
      ORG_NAME: "HITSZ-OpenAuto"

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 1

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv and restore cache
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          activate-environment: true
          working-directory: scripts
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install Python dependencies
        run: uv sync --directory scripts/

      - name: Generate daily report
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          NEWS_TYPE: daily
        run: uv run scripts/news/gen_news.py

      - name: Fetch opened PRs and issues
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: uv run scripts/courses/fetch_opened_prs_and_issues.py

      - name: Install oven-sh/setup-bun@v2
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Format CJK spacing
        run: bunx autocorrect-node --fix content/

      - name: Format Markdown files
        run: bunx prettier --write content/

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add content/
          git commit -m "docs: update daily report and issues" || exit 0
          git reset --hard
          git clean -fd
          git pull --rebase
          git push origin HEAD
