name: Update About Page

on:
  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo content
        uses: actions/checkout@v4 # checkout the repository content to github runner
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt
          
      - name: Execute Python script
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: python scripts/update_about.py

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          add: 'content/about/index.zh-cn.md'
          default_author: github-actions
          message: 'ci: update about page'
