name: Update About Page

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *" # This sets the workflow to run at 00:00 UTC+0 every day (8 AM Beijing time)
  push:
    paths:
      - "scripts/about/update_about.py"

  workflow_dispatch:

jobs:
  update-about-page:
    runs-on: ubuntu-latest
    env:
      ORG_NAME: "HITSZ-OpenAuto"

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install uv and restore cache
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          activate-environment: true
          working-directory: scripts
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install Python packages
        run: uv sync --directory scripts/

      - name: Execute Python script
        env:
          ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uv run scripts/about/update_about.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add content/about/index.zh-cn.md
          git commit -m "docs: update about page" || exit 0
          git reset --hard
          git clean -fd
          git pull --rebase
          git push origin HEAD
